@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	--wbg: white;
	--wfg: black;
	--fonx: "Averia Serif Libre", serif;
	--background: var(--wbg);
	--foreground: var(--wfg);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--wfg);
		--foreground: var(--wbg);
	}
}

:root {
	font-size: 3.0vw;
	box-sizing: border-box;
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--fonx);
}

h2 {
	margin: 0;
	padding-top: 4%;
	font-size: 1.5rem;
	/* padding-bottom: 4%; */
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box {
	display: flex;
	align-items: center;
	width: 100%;
}

.logo {
	padding-top: 4%;
	padding-bottom: 4%;
	/* background-color: #C45BAA; */
}

.logo img {
	width: 64%;
}

.where iframe {
	width: 88%;
	height: 16rem;
	border-radius: 0.2rem;
	border: 0.2rem solid var(--foreground);
}

.premier video {
	width: 68%;
	border-radius: 0.2rem;
	border: 0.2rem solid var(--foreground);
}

.disclaimer p,
.disclaimer strong {
	font-size: 0.7rem;
	margin-bottom: 1.7rem;
}

footer {
	font-size: 0.6rem;
	text-align: center;
}
