:root {
	color-scheme: light dark;

	/* --fg1: #c8c093; */
	--wbg: #dcd7ba;
	--wfg: #090618;
	--fonx: system-ui, -apple-system, sans-serif;
	/* --current-page: #957fb8; */
	--link: #7e9cd8;
	--background: light-dark(var(--wbg), var(--wfg));
	--foreground: light-dark(var(--wfg), var(--wbg));

	font-size: 2.0rem;
	box-sizing: border-box;
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--fonx);
}

/* h1 {
	font-weight: 900;
	text-align: center;
} */

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.where iframe {
	width: 28rem;
	height: 16rem;
	border-radius: 0.2rem;
	border: 0.2rem solid var(--foreground);
}
.where a:link {
	color: inherit;
	text-decoration: none;
}

.premier video {
	width: 28rem;
	border-radius: 0.2rem;
	border: 0.2rem solid var(--foreground);
}

.disclaimer p,
.disclaimer strong {
	font-size: 0.7rem;
	margin-bottom: 2rem;
}

footer {
	font-size: 0.6rem;
	text-align: center;
}
