/* @import "gruvbox-dark.css"; */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    /* --fg1: #c8c093; */
    --fg: #dcd7ba;
    --bg: #090618;
    --fonx: VT323, monospace;
    /* --current-page: #957fb8; */
    --link: #7e9cd8;

    font-size: 2.4vw;
    box-sizing: border-box;
    background: var(--bg);
    color: var(--fg);
    font-family: var(--fonx);
}

body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: var(--link);
}

.ascii {
    /* font-family: var(--fonx); */
    font-weight: bold;
    align-self: center;
    padding-top: 8%;
    font-size: 2.5vw;
}

h1 {
    font-size: 2.8vw;
    padding-top: 6%;
}

h2 {
    padding-top: 12.0vh;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 2.1vw;
    /* flex-direction: row; */
    /* align-self: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* align-items: center; */
    /* align-content: center; */
}

.projects {
    padding-bottom: 6%;
}
